<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Overview</h1>

    <!-- Chart data-->
    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3" ng-repeat="chart in dash.charts">
           <div>
               <svg style="height: 300px;width: 300px;"pie-chart="chart"></svg>
           </div>
        </div>
    </div>

    <!--Table Data-->
   <h2 class="sub-header">Table Data </h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><input type="text" class="form-control" placeholder="Search..." ng-model="search"></th>
            </tr>
            <tr>
                <th>#</th>
                <th>One</th>
                <th>Two</th>
                <th>Three</th>
                <th>Four</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="val in dash.tablevalues | filter:search">
                <td>{{val.id_num}}</td>
                <td>{{val.val1}}</td>
                <td>{{val.val2}}</td>
                <td>{{val.val3}}</td>
                <td>{{val.val4}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
